/jackson/.settings

/jackson/target

/jackson/.classpath
/jackson/.project
/mybatis-test/.settings

/mybatis-test/target

/mybatis-test/.classpath
/mybatis-test/.project
/mybatis-test/mybatis-test.log
/tfs/Bug.xml
