<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
    <system.diagnostics>
      <trace autoflush="false" indentsize="4">
        <listeners>
          <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener">            
          </add>
        </listeners>
      </trace>
    </system.diagnostics>
 
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CxPortalWebServiceSoap" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="CxSDKWebServiceSoap" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/cxwebinterface/Portal/CxWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CxPortalWebServiceSoap"
                contract="CxPortal.CxPortalWebServiceSoap" name="CxPortalWebServiceSoap" />
            <endpoint address="http://localhost/cxwebinterface/SDK/CxSDKWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CxSDKWebServiceSoap"
                contract="CxSDKns.CxSDKWebServiceSoap" name="CxSDKWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>