[Unit]
Description=Cx IAST Manager service
After=syslog.target network.target

[Service]
Type=forking

# User=CX_PLACEHOLDER_USER

WorkingDirectory=/home/cxdemo/CxIAST

Environment=CATALINA_BASE=/home/cxdemo/CxIAST/Manager
Environment=CATALINA_HOME=$CATALINA_BASE/../Tomcat

ExecStart=/home/cxdemo/CxIAST/Manager/bin/start.sh
ExecStop=/home/cxdemo/CxIAST/Manager/bin/stop.sh

Restart=on-failure
# Other restart options: always, on-abort, etc

[Install]
WantedBy=default.target
